<%- layout('boilerplate') %>

<div class="row">
    <div class="col-6">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">getFitNowMember's information</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">ID : <%= getFitNowMember.id  %></li>
                    <li class="list-group-item">person_id : <%=getFitNowMember.person_id%></li>
                    <li class="list-group-item">name : <%=getFitNowMember.name %></li>
                    <li class="list-group-item">membership_start_date : <%=getFitNowMember.membership_start_date %></li>
                    <li class="list-group-item">membership_status : <%=getFitNowMember.membership_status %></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-6 ">
        <form class="d-inline" action="/getFitNowMember/<%=getFitNowMember.id%>?_method=DELETE" method="POST">
            <button class="btn btn-danger">Delete</button>
        </form>
    </div>

</div>